/* --------------------------------------------------------------------------------------- *\
 Breakpoints
 Use like this:

 body
   background: red
   +above(1200px)
     background: blue

   +above(1920px)
     background: orange

/* --------------------------------------------------------------------------------------- */

below(num)
  condition = 'screen and (max-width: %s)' % num
  @media condition
    {block}

above(num)
  condition = 'screen and (min-width: %s)' % num
  @media condition
    {block}

/* Hide below screen size */
for screen, val in screens
  .hide--{screen}
    +below(val)
      display: none!important

/* Show below screen size */
for screen, val in screens
  .show--{screen}
    display: none!important
    +below(val)
      display: block
