/* --------------------------------------------------------------------------------------- *\
  Buttons
/* --------------------------------------------------------------------------------------- */

/*------------------------------------*\
    BASE
\*------------------------------------*/
/**
 * Base button styles.
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Normalise box model styles.
 * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 * 9. Don’t allow buttons to have underlines it kinda ruins the illusion.
 */
.btn
    display: inline-block       /* [1] */
    vertical-align: middle      /* [2] */
    white-space: nowrap         /* [3] */
    font-family: inherit        /* [4] */
    font-size: 100%             /* [4] */
    cursor: pointer             /* [5] */
    border: none                /* [6] */
    margin: 0                   /* [6] */
    padding-top:    0           /* [6] */
    padding-bottom: 0           /* [6] */
    line-height: 2.75           /* [7] */
    padding-right: 1em          /* [7] */
    padding-left: 1em           /* [7] */
    border-radius: brand-round /* [8] */
    font-weight:400

    -webkit-appearance:none
    box-shadow: none
    @extend .unselectable

    font-weight:500

    &, &:hover
      text-decoration:none

    &:active, &:focus
      outline:none

/*------------------------------------*\
    TYPES
\*------------------------------------*/
.btn--sky
  @extend .btn
  border: solid btn-border-width sky
  border-radius: brand-round
  color:sky

  &:hover
    background:lighten(sky, 95%)

  &:active
    background:lighten(sky, 90%)

.btn--strawberry
  @extend .btn
  border: solid btn-border-width strawberry
  color:strawberry

  &:hover
    background:lighten(strawberry, 95%)

  &:active
    background:lighten(strawberry, 90%)

.btn--sidewalk
  @extend .btn
  border: solid btn-border-width sidewalk
  color:sidewalk

  &:hover
    background:lighten(sidewalk, 95%)

  &:active
    background:lighten(sidewalk, 90%)

/*------------------------------------*\
    BLOCK BUTTONS
\*------------------------------------*/

.btn--block
  display:block
  width:100% // required to work for input submit buttons
  text-align:center

