
/* --------------------------------------------------------------------------------------- *\
  Vars
/* --------------------------------------------------------------------------------------- */

dirs = 'bottom', 'top', 'left', 'right'

/* --------------------------------------------------------------------------------------- *\
  Imports
/* --------------------------------------------------------------------------------------- */
@require('utils/spacing')
@require('utils/color')
@require('utils/keylines')

/* --------------------------------------------------------------------------------------- *\
  Angular
/* --------------------------------------------------------------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* --------------------------------------------------------------------------------------- *\
  Typography
/* --------------------------------------------------------------------------------------- */

/* weights */
weights = {
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 700,
}

for weight, val in weights
  .text--{weight}
    font-weight: val


/* text sizes */
text-sizes = {
  'small': 0.85em,
  'med': 0.9em,
}

for size, val in text-sizes
  .text--{size}
    font-size: val

/* alignment */
alignments = left, center, right, justified
for align in alignments
  .text--{align}
    text-align:align

p
    margin-bottom:0.5em

/* --------------------------------------------------------------------------------------- *\
  Images
/* --------------------------------------------------------------------------------------- */

img
    width:100%


.unselectable
  -webkit-touch-callout: none
  user-select: none

/* --------------------------------------------------------------------------------------- *\
   Mixins
/* --------------------------------------------------------------------------------------- */

input-placeholder-color(color)
  &::-webkit-input-placeholder
   color: color

  &:-moz-placeholder
   color: color

  &:-ms-input-placeholder
   color: color


.center
    margin-left: auto
    margin-right: auto

.link-appearance
  text-decoration: underline
  cursor:pointer

/* Opacity */
.fade-out--50
    opacity:0.5

.fade-out--80
    opacity:0.2

