
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.color--sky
    color: sky

.color--asphalt
    color: asphalt

 .color--sidewalk
    color: sidewalk

 .color--dyellow
    color: dyellow

 .color--strawberry
    color: strawberry


.fill--white
    background:white

.fill--cloud
    background:cloud

.list--unstyled
  list-style:none
  &, & li
    margin:0
    padding:0


.center
    margin-left: auto
    margin-right: auto


.link-appearance
  text-decoration: underline
  cursor:pointer

/* Opacity */

.fade-out--50
    opacity:0.5

.fade-out--80
    opacity:0.2

/* Spacing */

.push--bottom
    margin-bottom:base-spacing-em

.push--top
    margin-top:base-spacing-em

.push--ends
    margin-top:base-spacing-em
    margin-bottom:base-spacing-em



.push-half--bottom
    margin-bottom:0.5em

.push-half--top
    margin-top:0.5em


.push-flex--ends
    margin-top:5%
    margin-bottom:5%

.push-flex--right
    margin-right:5%

.soft
    padding: base-spacing-em

.soft--top
    padding-top: base-spacing-em

.soft-half--top
    padding-top: unit(base-spacing/2, 'em')

.soft--bottom
    padding-bottom: base-spacing-em

.soft--ends
    padding-top: base-spacing-em
    padding-bottom: base-spacing-em

.soft--sides
    padding-left: base-spacing-em
    padding-right: base-spacing-em


.keyline--bottom
  border-bottom: solid 1px concrete
  &.dashed
    border-bottom: dashed 1px concrete

/* Typography */
.text--normal
    font-weight:400

.text--light
    font-weight:300

.text--bold
    font-weight:700

.text--med
    font-size:0.9em

.text--small
    font-size:0.85em

.text--center
    text-align:center

.text--left
    text-align:left

p
    margin-bottom:0.5em


/* Images */
img
    width:100%


.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


/*- Style text color in input placeholders -*/
input-placeholder-color(color)
  &::-webkit-input-placeholder
   color: color

  &:-moz-placeholder
   color: color

  &:-ms-input-placeholder
   color: color