

/* Colors */
sky = #00A3EE
cloud = lighten(#929292, 90%)
sidewalk = #929292
concrete = lighten(sidewalk, 60%)
asphalt = #3F3F3F
dyellow = #F5D908
strawberry = #D80351
white = #FFFFFF

colors = {
    sky: sky,
    cloud: cloud,
    sidewalk: sidewalk,
    concrete: concrete,
    asphalt: asphalt,
    dyellow: dyellow,
    strawberry: strawberry,
    white: white,
}

baseColor = concrete


/* Borders */
brand-round = 5px
btn-border-width = 3px


/* Spacing */
baseSpace = 1.68


/* Responsive */
screens = {
    mobile: 480px,
    tablet: 769px,
    desk: 1024px,
    huge: 1920px
}


