
.grid
    @extend .group
    margin-left: -1.68em
    +below(480px)
        margin-left:0

.grid__item
    float:left
    padding-left: 1.68em
    min-height:1px

    +below(480px)
        padding-left:0