{% extends "base.html" %}

{% block content %}

    <div ng-controller="Controller" class="center">

        <div class="text--center" id="top">

            <header class="push-perc--top push-halfperc--bottom wrapper center">
                <h1 class="color--sky">Be a better poet with DraftPress</h1>
                <p class="text--light push-half--top">Community & toolbox for poets</p>
                <img src="{{STATIC_URL}}images/draftpress2.png" alt="Poetic community and tools for poets and writers" class="seven-tenths push-half--top">
            </header>


            <div class="wrapper center">

            <div ng-hide="yepMode || nopeMode || !showSurvey" ui-scrollfix class="fill--white">
                <div class="wrapper center" style="padding-bottom:0.5em">
                    <p>DraftPress is coming soon</p>
                    <span ng-click="yepMode = !yepMode; yesPlease()" class="btn--strawberry four-tenths force-width">Signup</span></span>

                    &nbsp;

                    <span ng-click="nopeMode = !nopeMode; noThanks()" class="btn--orange four-tenths force-width">No thanks</span></span>
                </div>
            </div>


            {% include 'marketing/parts/yepModal.html' %}
            {% include 'marketing/parts/nopeModal.html' %}


            <div ng-show="!showSurvey && email.length > 4" class="soft--sides">
                <h4>Thanks for your interest! I'll be in touch.</h4>
            </div>

            <div ng-show="!showSurvey && !email" class="soft--sides">
                <h4>Thanks for your feedback!</h4>
            </div>



             <br>

            <ul class="borderless list--block">
                <li>
                    <h3 class="color--sky">Write</h3>
                    <p class="feature-text">a simple editor with structural analysis, rhyme suggestions, and Absinthe mode</p>
                </li>

                <li>
                    <h3 class="color--sky">Share</h3>
                    <p class="feature-text">send to close friends or the world for feedback, reactions, and critique</p>
                </li>

                <li>
                    <h3 class="color--sky">Revise</h3>
                    <p class="feature-text">update based on reactions and critiques</p>
                </li>

                <li>
                    <h3 class="color--sky">Publish</h3>
                    <p class="feature-text">get the attention of a community of small publishers or use DraftPress to self li a chapbook</p>
                </li>
            </ul>


            </div>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>


{% endblock content %}